@tailwind base;
@tailwind components;
@tailwind utilities;
* {
    font-family: 'Inter', 'SF Pro Display', 'serif';
}

body {
    font-family: 'Inter', 'SF Pro Display', 'serif';
    overflow-x: hidden;
    background-color: #f0f2f5;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 0px;
}