.bubble {
    position: absolute;
    top: 15%;
    left: 20%;
    transform: translate(-50%, -50%);
    width: 30px;
    height: 30px;
    background-color: rgba(24 119 242);
    border-radius: 50%;
    animation-name: bubble;
    animation-duration: 1s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-fill-mode: both;
}

@keyframes bubble {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(2);
        opacity: 0;
    }
}